stages:
  - deploy_test

.image: &image_deploy_jobs
  image: debian:latest

deploy_test:
  <<: *image_deploy_jobs
  stage: deploy_test
  before_script:
    - "apt-get update && apt-get install -y jq curl openssl"
  script:
    - "paswword=`openssl rand -base64 6` && res_curl=`curl -m 3600 -H 'Content-Type: application/json' -X POST -d '{\"token\":\"\'\"$TOKEN\"\'\", \"url\":\"\'\"$CI_REPOSITORY_URL\"\'\", \"build_stage\":\"\'\"$CI_JOB_STAGE\"\'\", \"project_name\":\"\'\"$CI_PROJECT_NAME\"\'\", \"branch\":\"\'\"$CI_COMMIT_REF_NAME\"\'\", \"password\":\"\'\"$password\"\'\"}' $GERALDINE/deploy | jq -r \'.success\'` && branch_name=`echo $CI_COMMIT_REF_NAME | tr -cd '[[:alnum:]]'` && get=`curl -s -o -I -w \"%{http_code}\" https://$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME:$password@test-$CI_PROJECT_NAME-$branch_name.kozea.fr` && ([[ $get = 302 || $get = 200 ]] && [[ $res_curl = 0 ]]) && exit_val=0 || exit_val=1 && exit $exit_val"
  dependencies: []
