{% if control == 'edit' %}
  <aside class="buttons {{ control }}">
    <ul>
      <li><a data-role="undo" data-char="↶" href="#">Undo</a></li>
      <li><a data-role="redo" data-char="↷" href="#">Redo</a></li>
      <li><a data-role="bold" data-char="𝐁" href="#">Bold</a></li>
      <li><a data-role="italic" data-char="𝐼" href="#">Italic</a></li>
      <li><a data-role="blockquote" data-char="’’" href="#">Quote</a></li>
      <li><a data-role="insertUnorderedList" data-char="•" href="#">Unordered list</a></li>
      <li><a data-role="insertOrderedList" data-char="①" href="#">Ordered list</a></li>
      <li><a data-role="h1" data-char="h1" href="#">h1</a></li>
      <li><a data-role="h2" data-char="h2" href="#">h2</a></li>
      <li><a data-role="h3" data-char="h3" href="#">h3</a></li>
      <li><a data-role="h4" data-char="h4" href="#">h4</a></li>
      <li><a data-role="h5" data-char="h5" href="#">h5</a></li>
      <li><a data-role="h6" data-char="h6" href="#">h6</a></li>
      <li><a data-role="p" data-char="p" href="#">p</a></li>
      <li><a data-role="createLink" data-char="a" href="#">a</a></li>
      <li><a data-role="superscript" data-char="¹" href="#">Superscript</a></li>
      <li><a data-role="subscript" data-char="₁" href="#">Subscript</a></li>
    </ul>
  </aside>
{% endif %}

{% if control in ('view', 'edit') %}
  <nav class="buttons {{ control }}">
    <ul>
      {% if control == 'edit' %}
        <li><a data-char="⊞" href="#" id="add">Add</a></li>
        <li><a data-char="⊟" href="#" id="remove">Remove</a></li>
        <li><a data-char="✑" href="{{ url_for('details', index=index, presentation=presentation) }}">Edit details</a></li>
        <li><a data-char="⇩" href="#" id="save">Save</a></li>
        <li><a data-char="🗎" href="{{ url_for('pdf', index=index, presentation=presentation) }}">Download as PDF</a></li>
      {% endif %}
      <li><a data-char="⌂" href="{{ url_for('presentations') }}" id="close">Close</a></li>
    </ul>
  </nav>
{% endif %}
