{% if control == 'edit' %}
  <aside id="controls" style="position:absolute; top:0;">
    <ul>
      <li><a data-role="undo" href="#">Undo</a></li>
      <li><a data-role="redo" href="#">Redo</a></li>
      <li><a data-role="bold" href="#">Bold</a></li>
      <li><a data-role="italic" href="#">Italic</a></li>
      <li><a data-role="blockquote" href="#">Quote</a></li>
      <li><a data-role="insertUnorderedList" href="#">Unordered list</a></li>
      <li><a data-role="insertOrderedList" href="#">Ordered list</a></li>
      <li><a data-role="h1" href="#">h1</a></li>
      <li><a data-role="h2" href="#">h2</a></li>
      <li><a data-role="h3" href="#">h3</a></li>
      <li><a data-role="h4" href="#">h4</a></li>
      <li><a data-role="h5" href="#">h5</a></li>
      <li><a data-role="h6" href="#">h6</a></li>
      <li><a data-role="p" href="#">p</a></li>
      <li><a data-role="createLink" href="#">a</a></li>
      <li><a data-role="subscript" href="#">Subscript</a></li>
      <li><a data-role="superscript" href="#">Superscript</a></li>
    </ul>
  </aside>
{% endif %}

{% if control in ('view', 'edit') %}
  <nav style="position:absolute; top:0; right:0;">
    <ul>
      {% if control == 'edit' %}
        <li><a href="#" id="add">Add</a></li>
        <li><a href="#" id="remove">Remove</a></li>
        <li><a href="{{ url_for('details', index=index, presentation=presentation) }}">Edit details</a></li>
        <li><a href="#" id="save">Save</a></li>
      {% endif %}
      <li><a href="{{ url_for('presentations') }}" id="close">Close</a></li>
    </ul>
  </nav>
{% endif %}
