.buttons {
  background: #323637;
  font-size: 0.6em;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: 1s;
}


aside.buttons {
  max-width: 75%;
  right: 0;
  border: 1px solid #3b4042;
  border-top: none;
}

aside.buttons li {
  float: left;
  border-left: 1px solid #3b4042;
}

aside.buttons li:first-child {
  border-left: none;
}

nav.buttons {
  max-width: 25%;
  height: 100%;
  border-right: #3b4042;
}

nav.buttons ul li{
  border-top: 1px solid #3b4042;
}

nav.buttons li:last-child {
  border-bottom: 1px solid #3b4042;
}

.buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons a {
  color: transparent;
  display: block;
  line-height: 0;
  margin: 0;
  outline: 0;
  text-align: center;
  width: 2em;
}

.buttons a:after {
  color: #fff;
  content: attr(data-char);
  display: block;
  height: 1em;
  line-height: 1em;
  padding: 0.5em;
  transition: 0.3s;
  width: 1em;
}

.buttons a:hover:after {
  background-color: #eb5a5a;
}