@font-face {
  font-family: "SourceSansPro";
  src: url("font/SourceSansPro-Semibold.eot");
  src: url("font/SourceSansPro-Semibold.eot?#iefix") format("eot"), url("font/SourceSansPro-Semibold.woff") format("woff"), url("font/SourceSansPro-Semibold.otf") format("opentype"), url("font/SourceSansPro-Semibold.svg") format("svg");
  font-style: bold;
  font-weight: 500;
}

.buttons {
  font-family: 'SourceSansPro', Arial ;
  font-size: 0.6em;
  font-weight: 500;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: 1s;
  z-index: 1;
}

.buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons a {
  color: transparent;
  display: block;
  line-height: 0;
  margin: 0;
  outline: 0;
  text-align: center;
  width: 2em;
}

.buttons a:after {
  color: #fff;
  content: attr(data-char);
  display: block;
  height: 1em;
  line-height: 1em;
  padding: 0.5em;
  transition: 0.3s;
  width: 1em;
}

aside.buttons {
  right: 0;
  text-align: center;
  width: 100%;
}

aside.buttons ul {
  background: #323637;
  border-top: none;
  border: 1px solid #3b4042;
  display: inline-block;
}

aside.buttons li {
  border-left: 1px solid #3b4042;
  float: left;
}

aside.buttons li:first-child {
  border-left: none;
}

nav.buttons.edit {
  background: #323637;
  border-right: 1px solid #3b4042;
  height: 100%;
  max-width: 25%;
}

nav.buttons.edit ul {
  margin-top: 40px;
}

nav.buttons.edit ul li{
  border-top: 1px solid #3b4042;
}

nav.buttons.edit li:last-child {
  border-bottom: 1px solid #3b4042;
}

.buttons.edit a:hover:after {
  background-color: #eb5a5a;
}