@font-face {
  font-family: "SourceSansPro";
  src: url("font/SourceSansPro-Light.eot");
  src: url("font/SourceSansPro-Light.eot?#iefix") format("eot"), url("font/SourceSansPro-Light.woff") format("woff"), url("font/SourceSansPro-Light.otf") format("opentype"), url("font/SourceSansPro-Light.svg") format("svg");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("font/SourceSansPro-Semibold.eot");
  src: url("font/SourceSansPro-Semibold.eot?#iefix") format("eot"), url("font/SourceSansPro-Semibold.woff") format("woff"), url("font/SourceSansPro-Semibold.otf") format("opentype"), url("font/SourceSansPro-Semibold.svg") format("svg");
  font-style: bold;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: url('images/bkgd-body.png')repeat;
  color: #fff;
  font-family: 'SourceSansPro',Arial ;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

header {
  background: #323637;
  border-bottom: 1px solid #3b4042;
  display: table;
  text-transform: uppercase;
  width: 100%;
}

header > h1 {
  display: table-cell;
  line-height: 1.3em;
}

header > nav {
  display: table-cell;
  line-height:2.6em;
  vertical-align: top;

}

header > nav ul {
  display: table;
  height: 100%;
  width: 100%;
}

header > nav ul li {
  display: table-cell;
  text-align: center;
}

header > nav ul li:first-child {
  border-right: 1px solid #3b4042;
}

header > nav ul li a {
  color: #fff;
  text-decoration: none;
}

header > nav ul li:hover {
  background-color: #eb5a5a;
}

body main {
  padding-top: 15%;
  text-align: center;
}

body main section {
  border: 1px solid #3b4042;
  box-sizing: border-box;
  display: inline-block;
  height: 260px;
  margin: 0 1.5% 3% 1.5%;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 450px;
}

body main section iframe {
  border: none;
  height: 100%;
  width: 100%;
}

body main section h2 {
  background: #323637;
  bottom: 0;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  transition-property: height;
  transition-duration: 0.5s;
  width: 100%;
}

body main section:hover h2 {
  height: 100%;
}

body main section ul {
  height: 100%;
  line-height: 240px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition-property: opacity;
  transition-duration: 0.5s;
  vertial-align: middle;
  width: 100%;
}

body main section ul li {
  display: inline;
}

body main section ul li a {
  text-decoration: none;
}

body main section ul li a:after {
  color: #fff;
  content: attr(data-char);
  font-size: 1.8em;
  height: 1em;
  padding: 0.5em;
  width: 1em;
}


body main section:hover ul {
  opacity: 1;
}

/*forms*/
body main form > *:not(label) {
  background: #323637;
  border: 1px solid #3b4042;
  color: #fff;
  padding: 1%;
  outline-color: #eb5a5a;
}

body main form label, body main > h2 {
  font-weight: 100;
  margin-right: 1.5%;
}

body main form label {
  line-height: 3em;
}

body main form input[type="text"], body main form select {
  width: 37.5%;
}

body main form input[type="text"] {
  margin-right: 10%;
}

body main form textarea {
  box-sizing: border-box;
  min-height: 110px;
  width: 100%;
}

body main form input[type="submit"] {
  background: #eb5a5a;
  padding: 1% 3%;
  text-transform: uppercase;
}

body main form input[type="submit"]:hover {
  background: #e94b4b;
}