html {
  background: #eee url(logo.svg) no-repeat bottom right;
}

body {
  border-top: 6px solid #007bb8;
  box-sizing: border-box;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #1c1c1c;
  text-align: left;
}

a {
  color: #007bb8;
}

li {
  list-style: square;
}

*[contenteditable=true] {
  outline: none;
}

::selection {
  background: #007bb8;
}

.reveal .progress {
  height: 6px;
}

.reveal .progress span {
  background: #007bb8;
}

.reveal h1, .reveal h2 {
  color: #007bb8;
  margin: 0.5em;
}

.reveal h3 {
  margin: 0.5em;
}

.reveal p, .reveal ul, .reveal ol, .reveal dl {
  margin: 1em 0;
}

.reveal .slide-number {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

.reveal .controls {
  opacity: 0.1;
  transition: 1s;
}

.reveal .controls:hover {
  opacity: 0.5;
}

.reveal .controls .navigate-left.enabled {
  border-right-color: #007bb8;
}

.reveal .controls .navigate-right.enabled {
  border-left-color: #007bb8;
}

.reveal .controls .navigate-top.enabled {
  border-bottom-color: #007bb8;
}

.reveal .controls .navigate-bottom.enabled {
  border-top-color: #007bb8;
}

@media print {
  @page {
    margin: 0;
    size: 40cm 30cm;
  }

  body {
   background: rgba(240, 240, 240, 0.85);
   border: none;
  }

  .slides {
    font-size: 40pt !important;
    line-height: 29cm !important;
    position: static !important;
  }

  section {
    display: inline-block !important;
    position: static !important;
    vertical-align: middle !important;
  }

  section:before {
    background: #eee url(logo.svg) no-repeat bottom right;
    border-top: 5mm solid #007bb8;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
