<!doctype html>
<html>
  <head>
    <title>Bobslide</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <h1>Bobslide</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('presentations') }}">See the presentations</a></li>
        <li><a href="{{ url_for('create') }}">Create a presentation</a></li>
      </ul>
    </nav>

    <main>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>
