{% extends "layout.html" %}

{% block main %}
  {% for index, presentation in presentations %}
    <section>
      <h2>{{ presentation }}</h2>
      <ul>
        <li><a data-char="🔍" href="{{ url_for('presentation', action='view', index=index, presentation=presentation) }}"></a></li>
        <li><a data-char="✑" href="{{ url_for('presentation', action='edit', index=index, presentation=presentation) }}"></a></li>
        <li><a data-char="♲" href="{{ url_for('delete', index=index, presentation=presentation) }}"></a></li>
        <li><a data-char="⇩" href="{{ url_for('presentation', action='export', index=index, presentation=presentation) }}"></a></li>
      </ul>
      <iframe src="{{ url_for('presentation', action='view', index=index, presentation=presentation) }}"></iframe>
    </section>
  {% endfor %}
{% endblock main %}
