{% extends "layout.html" %}

{% block main %}
  {% for index, presentation in presentations %}
    <section>
      <h2>{{ presentation }}</h2>
      <ul>
        <li><a href="{{ url_for('presentation', action='view', index=index, presentation=presentation) }}">View</a></li>
        <li><a href="{{ url_for('presentation', action='edit', index=index, presentation=presentation) }}">Edit</a></li>
        <li><a href="{{ url_for('delete', index=index, presentation=presentation) }}">Delete</a></li>
        <li><a href="{{ url_for('presentation', action='export', index=index, presentation=presentation) }}">Export</a></li>
      </ul>
    </section>
  {% endfor %}
{% endblock main %}
