{% extends "layout.html" %}

{% block main %}
  <form action="{{ url_for('tail', presentation=presentation) }}" method=post>
    <label for="title">Name</label>
      <input type="text" name="title" id="title" value="{{ title }}" />
      <label for="theme">Theme</label>
      <select id="theme" name="theme">
        {% for theme in themes %}
          <option value="{{ theme }}" {{ 'selected' if theme == meta_theme }}>{{ theme }}</option>
        {% endfor %}
      </select>
    <label for="contents">Modify the contents</label>
    <textarea id="contents" name="contents" placeholder="Write your contents here." autofocus>{{ contents }}</textarea>
    <label for="css">Modify the css</label>
    <textarea id="css" name="css" placeholder="Write your css here." autofocus>{{ style_css }}</textarea>
    <label for="script">Modify the script</label>
    <textarea id="script" name="script" placeholder="Write your javascript here.">{{ conf_js }}</textarea>
    <input type="submit" value="Edit" />
  </form>
{% endblock main %}
